.footer {
    width: 100%;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: peachpuff;
    margin-top: 10em;
}

.footer img {
    width: 3em;
}

.footer h3 {
    font-size: 1.3em;
    font-weight: 500;
}

.footer p {
    margin: 0.5em 0;
}

.formInput {
    display: flex;
    flex-direction: column;
}

.formInput p {
    font-weight: 600;
}


.formInput input {
    padding: 1em;
    width: 20em;
}

.formInput button {
    background-color: rgb(249, 188, 134);
    padding: 1.3em;
}