#myPage {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myPage h2 {
    text-align: center;
    margin-bottom: 0.5em;
}

.myPageDiv {
    margin: 2em 0;
    /* border: 2px solid #F9E79F; */
    padding: 1em 2em;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px lightgray;
}

.myPageDiv button {
    margin: 0 0.5em;
}