@import url('https://fonts.googleapis.com/css2?family=Delius&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #2C3E50;
}

button {
  padding: 0.5em 2em;
  border-radius: 10px;
  border: 0;
  background-color: peachpuff;
  max-width: 15em;
  cursor: pointer;
}

input {
  width: 15em;
  height: 2em;
  border-radius: 10px;
  border: 2px solid peachpuff;
}

select {
  width: 15em;
  height: 2em;
  border-radius: 10px;
  border: 2px solid peachpuff;
  font-weight: 600;
}